body {
  display: flex;
}

h1 {
  color: white;
}

.projects-nav {
  width: 20%;
  height: 100vh;
  background-color: blue;
}

.pallete-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  background-color: black;
}

.palettes {
  align-items: flex-end;
  display: flex;
  background-color: red;
  width: 100%;
  height: 70%;
}

.user-input-fields {
  display: flex;
  background-color: orange;
  width: 100%;
  height: 30%;
}

.new-project {
  width: 50%;
  height: 100%;
}

.new-palette {
  width: 50%;
  height: 100%;
}

.color-one {
  background-color: aqua;
  width: 20%;
  height: 60%;
}
.color-two {
  background-color: blueviolet;
  height: 60%;
  width: 20%;

}
.color-three {
  background-color: chartreuse;
  height: 60%;
  width: 20%;

}
.color-four {
  background-color: cyan;
  height: 60%;
  width: 20%;

}
.color-five {
  background-color: hotpink;
  height: 60%;
  width: 20%;
}
